@use '@scss/modules/colors' as *;
@use '@scss/modules/fonts' as *;
@use '@scss/mixins/fonts' as *;
@use '@scss/modules/sizes' as *;

html {
  font-size: 62.5%;
}

body {
  @include font-size(2.5);
  
  background: var(--colour-sp);
  font-family: $font-family-serif;
}

#app-container {
  padding: $size-xl $size-sm $size-xl $size-lg;
}

