@use '@scss/mixins/position' as *;

#app-container header {
  color: var(--colour-white);
  text-align: center;

  h1, h1 a {
    margin: 0 auto;
    padding: 0;
  }

  h1 a {
    max-width: 200px;
    width: 100%;
    overflow: hidden;
    display: block;
  }
}