//
///// OpenSans - Sans-Serif Font
//
@font-face {
  font: {
    family: "OpenSans";
    weight: normal;
    style: normal;
  }
  src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/open-sans/OpenSans-Regular.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
$font-family-serif: 'OpenSans';
